<h2>Structural Directives: *ngFor,*ngIf,*ngSwitchCase</h2>
<div>
<button (click)="toggle()">Toggle</button>
</div>
<div>
<div *ngIf="toggled">
  <div *ngFor="let hero of heroes;let i=index" (click)="select(hero)">
    {{i+1}}]{{hero}}
  </div>
</div>
</div>

<div *ngIf="toggled">
<div [ngSwitch]="selected">
  <div *ngSwitchCase="heroes[0]">Akshay Kumar</div>
  <div *ngSwitchCase="heroes[1]">Shahrukh Khan</div>
  <div *ngSwitchCase="heroes[2]">Amitabh Bachhan</div>
  <div *ngSwitchCase="heroes[3]">Salman Khan</div>
  <div *ngSwitchDefault>None of the heroes selected</div>
</div>
</div>